@import url("cssReset.css");
@import url("public.css");

/* ---attraction page--- */
:root {
  accent-color: #448899;
}

main {
  height: 85.8vh;
}

.attractionHead {
  border-color: #e8e8e8;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 100px 0 50px 0;
  display: flex;
  justify-content: space-around;
}

.attractionHead p,
label,
.attractionName h2 {
  color: #666666;
}

.attractionImgContainer {
  max-width: 540px;
  width: 100%;
  height: 406px;
  position: relative;
}

.redBorder {
  border: 2px solid darkred !important;
}

/* 找方法做照片fade in效果 */
.fadeIn {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 185px;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

.leftArrow > img,
.rightArrow > img {
  opacity: 0.8;
}

.attractionImgContainer > div {
  position: relative;
  width: 100%;
}

.circleArea {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
  /* holy crap it works */
  right: 0;
  left: 0;
  bottom: 13px;
  margin: 0 auto;
  /* holy crap it works 垂直置中*/
}

.circleBtGroup {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  margin: 5px 10px;
  opacity: 0.9;
  border: none;
}

.chosenCircle {
  background: #000000;
  border: 1px solid #ffffff;
  box-shadow: 0 0 0 1px white;
  opacity: 1;
  padding: 2px;
}

.attractionImgContainer > img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.attractionHead p,
.attractionName h2,
.attractionHead input {
  margin-bottom: 15px;
}

.wrapForNameAndArea {
  padding: 10px;
  width: 50%;
}

.attractionName h2 {
  font-size: 24px;
  font-weight: bold;
}

.attractionName > div {
  display: flex;
}

.attractionName > div > p {
  padding-right: 5px;
}

.attractionArea {
  background-color: #e8e8e8;
  border-radius: 5px;
  padding: 20px;
}

.bookingDate {
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
}

.radioGroup {
  display: flex;
}

.radioGroup > div {
  margin-right: 18px;
}

input[type="radio"] {
  height: 18px;
  width: 18px;
  position: relative;
  bottom: -2px;
}

.attractionArea button {
  padding: 10px 20px;
  font-size: 19px;
  margin-top: 20px;
}

/* ---attraction body--- */
.attractionBody {
  margin-top: 50px;
  padding: 0 10px;
}
.attractionBody p {
  color: #666666;
  line-height: 23px;
}

.attractionBody > div {
  margin-bottom: 20px;
}

/* 彈出訊息 */
.popMessage {
  background-color: white;
  text-align: center;
  line-height: 5;
  height: 100px;
  width: 200px;
  font-size: 20px;
  border: 1px solid #e8e8e8;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#popCloseBt > img {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* rwd */
@media screen and (min-width: 360px) and (max-width: 600px) {
  /* 360-600 rwd for attraction html */
  main {
    height: 100%;
  }
  .signInAndReserveBox {
    padding: 0 5px 0 0;
  }
  .attractionHead {
    flex-direction: column;
    min-width: 360px;
    max-width: 600px;
  }

  .attractionImgContainer {
    max-width: 600px;
    min-width: 360px;
    height: 350px;
    margin-bottom: 30px;
  }

  .attractionImgContainer > img {
    width: 100%;
  }

  .wrapForNameAndArea {
    width: 100%;
  }

  .attractionArea {
    padding: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1400px) {
  /* 600-1400 rwd for attraction html */
  .attractionHead {
    justify-content: center;
  }

  .attractionImgContainer {
    max-width: 50%;
    height: 350px;
  }

  .attractionImgContainer > img {
    max-width: 100%;
    max-height: 350px;
    min-width: 40%;
    min-height: 350px;
    width: 100%;
  }

  .radioGroup {
    flex-wrap: wrap;
  }
}
