html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
nav,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
nav,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start here */

/* ---public--- */
.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

body {
  font-size: 16px;
  padding-top: 54px;
  /* make fixed nav not cover the content */
}

body * {
  font-family: "Noto Sans TC";
}

img {
  object-fit: cover;
  /* prevent images blur */
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

nav,
.signInAndReserveBox,
header,
.searchBar form,
.signHead,
.signBox form,
.description {
  /* display flex collection */
  display: flex;
}

nav h1,
.searchBar h2 {
  font-weight: 700;
}

.showCase,
nav,
.showCase li,
header,
.signBox,
.attractionImgContainer,
.attractionArea {
  box-sizing: border-box;
}

.pTitles {
  font-weight: bold;
}
/* ---nav--- */
nav {
  justify-content: space-between;
  position: fixed;
  background-color: white;
  height: 54px;
  top: 0; /* for staying on top */
  width: 100%;
  /* max-width: 1920px; */
  min-width: 1200px;
}

nav h1 {
  font-size: 30px;
  color: #448899;
  padding: 10px 0;
  margin-left: 360px;
}

nav a {
  color: #666666;
  text-decoration: none;
  line-height: 3.5;
  font-weight: normal;
}

.signInAndReserveBox {
  margin-right: 360px;
}

.signInAndReserveBox li {
  padding: 0px 20px 0 0;
}
/* ---header--- */
header {
  height: 320px;
  margin-bottom: 50px;
  background: url("imgs/welcome1.png"),
    linear-gradient(#aaddee 0%, #66aabb 100%);
  background-position: 80%;
  background-repeat: no-repeat;
  width: 100%;
}
.searchBar {
  margin-top: 85px;
  margin-left: 370px;
}

.searchBar h2,
p {
  color: #f8f8f8;
}

.searchBar p {
  padding: 15px 0;
}

.searchBar h2 {
  font-size: 28px;
}

.searchBar form {
  margin-top: 10px;
}

.searchBar input {
  width: 400px;
  font-size: 16px;
  border-radius: 5px 0px 0 5px;
  border: none;
  font-weight: bold;
  padding: 10px;
}

.searchBar button {
  width: 60px;
  height: 46px;
  margin: 0;
  padding: 0;
  background-color: #448899;
  box-shadow: none;
  border: none;
  border-radius: 0 5px 5px 0;
}

.signBox {
  width: 340px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #cccccc;
  position: fixed;
  left: 41.5%;
  margin: 20px 10px 0;
  background-color: white;
  padding: 15px;
}

.signHead > a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

.signBox h3 {
  color: #666666;

  padding: 0 15px;
  margin: 0 auto;
  font-weight: bold;
}

.signBox form {
  flex-direction: column;
}

.signBox form > button {
  padding: 10px;
  border: none;
  background-color: #448899;
  color: white;
}

.signBox form,
.signBox h3 {
  font-size: 27px;
}
.signBox > form > input {
  margin-bottom: 10px;
  border: 1px solid #cccccc;
}

.signBox > form > input,
.signBox button {
  border-radius: 5px;
}

.signHead,
.signBox > form > input {
  padding: 15px;
}

/* ---main--- */
.showCase {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 0 20px;
}

.showCase li {
  width: 270px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.pics img {
  height: 200px;
  width: 100%;
  max-height: 70%;
  max-width: 100%;
}

.pics p {
  height: 22px;
  color: #757575;
  padding: 10px;
}

.description {
  justify-content: space-between;
}

.noPicText {
  font-size: 25px;
  color: black;
  margin: 50px 0 0 50%;
}

/* ---footer--- */
footer {
  height: 90px;
  background-color: #757575;
  margin-top: 55px;
}
footer p {
  text-align: center;
  line-height: 5.5;
}

/* 考慮把下段獨立成一個css= = */
/* ---attraction page--- */
:root {
  accent-color: #448899;
}

.attractionHead {
  border-color: #e8e8e8;
  border-style: solid;
  border-width: 1px 0;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}

.attractionHead p,
label,
.attractionName h2 {
  color: #666666;
}

/* 如果輪播不知道會不會有問題 */
.attractionImgContainer {
  max-width: 540px;
  max-height: 406px;
  min-width: 540px;
  min-height: 406px;
  /* i think  these two should fix*/
}

.attractionImgContainer > img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.attractionHead p,
.attractionName h2,
.attractionHead input {
  margin-bottom: 15px;
}

.wrapForNameAndArea {
  padding: 10px;
  width: 50%;
}

.attractionName h2 {
  font-size: 24px;
  font-weight: bold;
}

.attractionName > div {
  display: flex;
}

.attractionName > div > p {
  padding-right: 5px;
}

.attractionArea {
  background-color: #e8e8e8;
  border-radius: 5px;
  padding: 20px;
}

.radioGroup {
  display: flex;
}

.radioGroup > div {
  margin-right: 18px;
}

input[type="radio"] {
  height: 18px;
  width: 18px;
  position: relative;
  bottom: -2px;
}

.attractionArea button {
  padding: 10px 20px;
  font-size: 19px;
  color: white;
  background-color: #448899;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

/* ---attraction body--- */
.attractionBody {
  margin-top: 50px;
  padding: 0 10px;
}
.attractionBody p {
  color: #666666;
  line-height: 23px;
}

.attractionBody > div {
  margin-bottom: 20px;
}

/* rwd */
@media screen and (min-width: 360px) and (max-width: 600px) {
  nav {
    min-width: 360px;
    display: flex;
    padding: 10px;
    left: 0;
  }

  .signInAndReserveBox,
  nav h1 {
    padding: 0;
    margin: 0;
  }
  .signInAndReserveBox li {
    padding: 10px;
    margin-bottom: 15px;
  }

  nav a {
    line-height: 1;
    font-size: 16px;
  }

  header {
    background-image: url("imgs/welcome2.png"),
      linear-gradient(#aaddee 0%, #66aabb 100%);
    background-position: right bottom;
    height: 280px;
  }

  .searchBar {
    margin: 65px 0 0 0;
    padding: 20px;
  }

  .searchBar input {
    width: 230px;
  }

  .showCase {
    display: flex;
    flex-direction: column;
  }

  /* 下面圖片RWD的關鍵 */
  .showCase > li {
    width: 90%;
    margin: 0 auto;
  }

  .showCase > li > img {
    width: 100%;
    height: 100%;
    max-width: 322px;
  }

  .noPicText {
    margin: 50px 25%;
  }

  /* for attraction html */
  /* .................................... */

  .attractionHead {
    flex-direction: column;
    min-width: 360px;
    max-width: 600px;
  }

  .attractionImgContainer {
    max-width: 600px;
    min-width: 360px;
    height: 350px;
  }

  .attractionImgContainer > img {
    max-width: 600px;
    max-height: 350px;
    min-width: 360px;
    min-height: 350px;
    width: 100%;
  }

  .wrapForNameAndArea {
    width: 100%;
  }

  .attractionArea {
    width: 95%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1400px) {
  nav {
    min-width: 360px;
    display: flex;
    padding: 10px 100px;
    max-width: 1200px;
    justify-content: space-between;
  }

  .signInAndReserveBox,
  nav h1 {
    padding: 0;
    margin: 0;
  }

  .signInAndReserveBox li {
    padding: 10px;
  }

  nav a {
    line-height: 1;
    font-size: 16px;
  }

  header {
    background-image: url("imgs/welcome1.png"),
      linear-gradient(#aaddee 0%, #66aabb 100%);
    background-position: right bottom 110%;
    height: 280px;
  }

  .searchBar {
    margin: 65px 0 0 200px;
    padding: 20px;
  }

  .searchBar input {
    width: 230px;
  }

  .showCase {
    display: flex;
    flex-wrap: wrap;
  }

  /* 下面圖片RWD的關鍵 */
  .showCase > li {
    width: 45%;
    margin: 0 auto;
  }

  .showCase > li > img {
    width: 100%;
    height: 100%;
    max-width: 500px;
  }

  .noPicText {
    margin: 50px 35%;
  }
}
