{% extends 'base.html' %} {% block link %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/attractionStyle.css')}}"
/>
{% endblock %} {% block header %} {% endblock %}{% block main %}
<div class="attractionHead">
  <!-- 目前看起來如果要自動播放或是有動畫效果就要打掉重寫 -->
  <div class="attractionImgContainer" id="attractionImgContainer">
    <a class="leftArrow" id="leftArrow" href="#">
      <img
        src="{{url_for('static', filename='imgs/btn_leftArrow.png')}}"
        alt="arrow"
      />
    </a>
    <img src="" alt="pic" />
    <a class="rightArrow" id="rightArrow" href="#">
      <img
        src="{{url_for('static', filename='imgs/btn_rightArrow.png')}}"
        alt="arrow"
      />
    </a>
    <div>
      <div class="circleArea" id="circleArea"></div>
    </div>
  </div>
  <div class="wrapForNameAndArea">
    <div class="attractionName">
      <h2></h2>
      <div>
        <p class="attractionNameCategory"></p>
        <p>at</p>
        <p class="attractionNameArea"></p>
      </div>
    </div>
    <div class="attractionArea">
      <p class="pTitles">訂購導覽行程</p>
      <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
      <form action="#">
        <label id="bookingDateLabel" for="bookingDate" class="pTitles"
          >選擇日期 :
        </label>
        <input
          type="date"
          name="bookingDate"
          id="bookingDate"
          class="bookingDate"
        />
        <div class="hide message"></div>
        <br />
        <div class="radioGroup">
          <div>
            <label for="morning" class="pTitles">選擇時間 : </label>
            <input
              type="radio"
              name="bookingTimeFrame"
              id="morning"
              value="morning"
              checked="checked"
            />
            <label for="morning">上半天</label>
          </div>
          <div>
            <input
              type="radio"
              name="bookingTimeFrame"
              id="afternoon"
              value="afternoon"
            />
            <label for="afternoon">下半天</label>
          </div>
        </div>
        <p class="pTitles">
          #導覽費用 : 新台幣 <span id="money">2000</span> 元
        </p>
        <!-- i think this will need if else -->
        <!-- <button id="attractionReserveBt">開始預訂行程</button> -->
        <button id="addToCartBt">加入購物車</button>
      </form>
    </div>
  </div>
</div>
<div class="attractionBody">
  <div>
    <p class="attractionBodyDescription"></p>
  </div>

  <div>
    <p class="pTitles">景點地址 :</p>
    <p class="attractionBodyAddress"></p>
  </div>

  <div>
    <p class="pTitles">交通方式 :</p>
    <p class="attractionBodyTransport"></p>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='scriptAttraction.js') }}"></script>
{% endblock %}
