{% extends 'base.html' %} {% block link %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/bookingStyle.css')}}"
/>
{% endblock %} {% block header %} {% endblock %} {% block main%}
<div class="head">
  <div class="bookingTitle">
    <h2 class="bold">
      您好，<span id="bookingName"></span>，待預定的行程如下：
    </h2>
  </div>
  <div class="bookingDescriptionAndImgWrap">
    <div class="bookingImgWrap"><img id="bookingImg" src="" alt="pic" /></div>
    <div class="bookingDescription">
      <h3 class="bold cyan" id="bookingTitle">
        台北一日遊：<span id="bookingAttractionName"></span>
      </h3>

      <p class="bold">日期：<span class="normal" id="bookingDate"></span></p>
      <p class="bold">時間：<span class="normal" id="bookingTime"></span></p>
      <p class="bold">費用：<span class="normal" id="bookingFee"></span></p>
      <p class="bold">地點：<span class="normal" id="bookingArea"></span></p>
      <a class="bookingDelete" id="bookingDelete" href="#">
        <img
          src="{{url_for('static',filename='imgs/icon_delete.png')}}"
          alt="delete"
        />
      </a>
    </div>
  </div>
</div class="head">
<div class="body">
  <div class="bookingTitle">
    <h2 class="bold">您的聯絡資訊</h2>
  </div>
  <div class="bookingBodyWrap">
    <form action="#">
      <div class="contactInfo">
        <label for="contactName">聯絡姓名：</label>
        <input type="text" name="contactName" id="contactName" />
        <br />
        <label for="contactEmail">聯絡信箱：</label>
        <input type="Email" name="contactEmail" id="contactEmail" />
        <br />
        <label for="contactPhone">聯絡電話：</label>
        <input type="tel" name="contactPhone" id="contactPhone" />
        <p class="bold">
          請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
        </p>
      </div>
      <div class="paymentInfo">
        <label for="card">卡片號碼：</label>
        <input
          type="password"
          name="paymentCard"
          id="paymentCard"
          placeholder="**** **** **** ****"
        />
        <!-- 感覺要達到信用卡卡號每幾個字後有空格應該要用JS控制 打四個字就強迫插一個space之類的-->
        <br />
        <label for="cardExpire">過期時間：</label>
        <!-- 下面分類對嗎? -->
        <input
          type="datetime"
          name="cardExpire"
          id="cardExpire"
          placeholder="MM / YY"
        />
        <br />
        <label for="cardCvv">驗證密碼：</label>
        <input type="password" name="cardCvv" id="cardCvv" placeholder="CVV" />
      </div>
      <div class="moneyAndButton">
        <h2 class="bold">總價：新台幣 <span></span> 元</h2>
        <button>確認訂購並付款</button>
      </div>
    </form>
  </div>
</div>

<!-- <div class="footerWrap">
  <footer>
      <p>COPYRIGHT &copy 2021台北一日遊</p>
  </footer>
  </div> -->

{% endblock %}
 {% block script %}
<script src="{{url_for('static', filename='scriptBooking.js')}}"></script>
{%endblock %}
