{% extends 'base.html'%} {% block link %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/indexStyle.css')}}"
/>
{% endblock %} {% block header %}
<header class="headerBackground">
  <div class="searchBar">
    <h2>輕鬆享受台北一日悠閒</h2>
    <p>搜尋每個角落，體驗城市的深度旅遊行程</p>
    <form>
      <input
        type="text"
        placeholder="輸入景點名稱查詢"
        name="keyword"
        id="keyword"
      />
      <button id="searchBt">
        <img
          src="{{url_for('static', filename='imgs/icon_search.png')}}"
          alt="icon"
        />
      </button>
    </form>
  </div>
</header>
{% endblock %}
<main>
  {% block main%}
  <ul class="showCase" id="showCase"></ul>
  <div id="endPoint"></div>
  {% endblock %}
</main>
{% block messagePlace%}
<div id="messagePlace"></div>
{% endblock%}

<!-- scripts -->
<script src="{{ url_for('static', filename='scriptSignInBox.js') }}"></script>
{% block script %}
<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
